<div class="sign_in_page_area">
  <div class="row">
    <div class="small-8 large-7 medium-7 columns medium-offset-3 large-offset-2">
      <div class="page_title">
        <h3>Sign Up or <%= link_to 'Sign In', new_user_session_path %></h3>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%- if resource.errors.full_messages.length > 0 %>
            <div class='callout alert'>
              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="sign_form signup-form">
            
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="single_form">
                <%= f.text_field :full_name, placeholder: 'Full Name' %>
                <i class="fa fa-user-circle-o"></i>
              </div>
              <div class="single_form">
                <%= f.email_field :email, placeholder: 'Email' %>
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="single_form mar_b_s">
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Keep me signed in on this computer</label>
              </div>
              <div class="single_form checkbox">
                <div id='user_agreement_wrapper'>
                  <%= f.check_box :agreement %>
                </div>
                <label for="user_agreement">I agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Statement</a> </label>
              </div>
              <div class="single_form">
                <input name="submit" class="button signup-btn" value="Sign Up" type="submit">
              </div>
            <% end %>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="others_sign">
            <div class="single_form_S">
              <div class="facebook-login-button">
                <i class="fa fa-facebook"></i><span>Sign Up with Facebook</span>
              </div>
            </div>
            <div class="single_form_S">
              <div class="twitter-login-button">
                <i class="fa fa-google-plus"></i><span>Sign Up with Google</span>
              </div>
            </div>
            <div class="single_form_S">
              <input id="checkbox3" type="checkbox">
              <label for="checkbox3">Keep me signed in on this computer</label>
            </div>
            <div class="single_form_S">
              <p>Already have a YOVA Account? <%= link_to 'Sign In', new_user_session_path  %></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
