<%= render 'shared/categories_nav' %>
<%= render 'shared/cart' %>

<div class="top_header">

  <div class="top_header_inner">
    <!-- Left side bar menu Icon -->
    <div class="side_bar_menu_icon">
      <div class="navTrigger">
        <i></i><i></i><i></i>
      </div>

      <div class="search_bar">
        <div class="search">
          <i class="fa fa-search"></i>
          <input placeholder="Search deals" type="search" name="search">
        </div>
      </div>
    </div>
    <!-- Center Logo -->
    <div class="center_logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png' %>
      <% end %>
    </div>
    <!-- Header Right -->
    <div class="right_head">
      <!-- User info -->
      <div class="account_info">
        <div class="user_pic">
          <%= image_tag current_user.profile.avatar.url, style: 'width: 35px; height: 35px;' %>
        </div>

        <div class="customer">

          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">Account</a>
              <ul class="menu no-bullet">
                <li><%= link_to 'My Deals', deal_path('active') %></li>
                <li><%= link_to 'My Discounts', deal_path('item') %></li>
                <li><%= link_to 'Transactions', transactions_path %></li>
                <li><%= link_to 'Returns', returns_transactions_path %></li>
                <li><%= link_to 'Payments', payments_transactions_path %></li>
                <li><%= link_to 'Order History', order_path('history') %></li>
                <li><%= link_to 'Account Settings', account_path %></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- Cart Icon -->
      <div class="cart_icon">
        <div class="top-bar-right"> <span id="cartImage" class="cart-item">0</span> </div>
      </div>
    </div>
  </div>
  <%- unless (controller_name == 'products' && (['show', 'deal'].include?(action_name))) || (['carts', 'orders'].include?(controller_name)) || (controller_name == 'transactions' && action_name == 'index') %>
    <div class="center_menu">
      <ul>
        <li class="<%= 'active_menu' if controller_name == 'deals' %>"><a href="<%= deals_path %>" >DEALS</a></li>
        <li class="<%= 'active_menu' if controller_name == 'home' %>"><a href="<%= root_path %>">EXPLORE</a></li>
        <li class="<%= 'active_menu' if controller_name == 'requests' %>"><a href="<%= requests_path %>">REQUESTS</a></li>
      </ul>
    </div>
  <% end %>
</div>
