<div class="top-bar top-bar_flex">

  <!-- Center Logo -->
  <div class="center_logo single_flex">
    <a href="deals.html"><img src="images/logo.png"></a>
  </div>

  <div class="top-bar-center  single_flex">
    <div class="button-group"> 
      <a href='<%= wizards_path(step: 0) %>' class="button <%= current_user.reload.profile.current_step_index >= 0 && params[:step].to_i >= 0 ? 'active' : 'disabled wizard-link' %>">CHOOSE PROFILE</a> 
      <a href='<%= wizards_path(step: 1) %>' class="button <%= current_user.reload.profile.current_step_index >= 1 && params[:step].to_i >= 1 ? 'active' : 'disabled wizard-link' %>">SELECT CATEGORIES</a> 
      <a href='<%= wizards_path(step: 4) %>' class="button <%= current_user.reload.profile.current_step_index >= 4 && params[:step].to_i >= 4 ? 'active' : 'disabled wizard-link' %>">REGISTER</a> 
      <a href='<%= wizards_path(step: 5) %>' class="button <%= current_user.reload.profile.current_step_index >= 5 && params[:step].to_i >= 5 ? 'active' : 'disabled wizard-link' %>">COMPLETE</a> 
    </div>
  </div>

  <div class="home_right_acc_info  single_flex sing_icon_width">
    <div class="top-bar-right">
    </div>
  </div> 
</div>
