<%= title('Sign Up - Registration') %>
<section class="box-section profile-info">
  <div class="row expanded form-box">
    <div class="columns">
      <div class='header_search_fixed' id="sticker-2">
        <%= link_to wizards_path(step: 1), class: 'prev-arrow' do %>
          <i class='fa fa-chevron-left'></i>
        <% end %>
        <h1>Final Step: Register to Yova</h1>
        <h3>Please register to continue the process</h3>
      </div>
      <div class="row">
        <div class="columns form small-centered">
          <%- if current_user.errors.full_messages.length > 0 %>
            <div class='callout alert'>
              All field is required
            </div>
          <% end %>
          <%= form_for current_user, url: wizards_path(step: 3), method: :put, data: { errors: current_user.errors.messages, form_name: 'user' } do |f| %>
            <%= f.fields_for :profile, current_user.profile do |profile| %>
              <%= profile.hidden_field :id %>
              <div class="row">
                <div class="columns">
                  <label>Username
                    <%= f.text_field :username %>
                  </label>
                </div>
                <div class="columns">
                  <label>First Name
                    <%= profile.text_field :first_name %>
                  </label>
                </div>
                <div class="columns">
                  <label>Last Name
                    <%= profile.text_field :last_name %>
                  </label>
                </div>

                <div class="columns">
                  <label>Email Address
                    <%= f.email_field :email %>
                  </label>
                </div>
                <div class="columns">
                  <label>Password
                    <%= f.password_field :password %>
                  </label>
                </div>
                <div class="columns">
                  <label>Confirm Password
                    <%= f.password_field :password_confirmation %>
                  </label>
                </div>
                <div class="columns">
                  <button type="submit" class="button float-right" >Next</button>
                </div>                            
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>							
  </div>
</section>
