<section class="main-section mar_top_d">
  <div class="row expanded " id="sticker">
    <div class="columns deals-filter">
      <div class="row expanded">
        <div class="columns small-6">
          <a href="<%= deal_path('item') %>" class="button">Product Discounts</a>
          <a class="button active">Product Category Discounts</a>
        </div>
      </div>
    </div>
    <div class="main_product_area mar_remove">
      <div class="row category_filter">
        <div class="border_bottom small-12 large-12 medium-12 columns" id="sticker">
          <div class="border_bottom_p">
            <div class="single_fliter width_one">
              <p>Filter by:</p>
              <div class="Filter_drop_down">
                <ul class="nav">
                  <li class="button-dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle">
                               Categories <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                              </a>
                    <ul class="dropdown-menu max_height">
                      <li>
                        <a href="#">
                          <div class="dot active_dot"></div>Grocery</a>
                        <div class="sub_drop_menu">
                          <ul>
                            <li>
                              <a href="#">
                                <div class="dot active_dot"></div>Grocery 1</a>
                            </li>
                            <li>
                              <a href="#">
                                <div class="dot"></div>Grocery 2</a>
                            </li>
                            <li>
                              <a href="#">
                                <div class="dot"></div>Grocery 3</a>
                            </li>
                            <li>
                              <a href="#">
                                <div class="dot"></div>Grocery 4</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Household Products</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Health & Wellness</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Beauty & Personal Care</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Baby</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Pet Supplies</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Electronics</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div>Office Products</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Tools & Hardware</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Business Essentials</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Best Sellers</a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </div>

              <div class="Filter_drop_down">
                <ul class="nav">
                  <li class="button-dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle">
                                Brands <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                              </a>
                    <ul class="dropdown-menu max_height">
                      <li>
                        <div class="input-group dropdown_search">
                          <span class="input-group-label"><i class="fa fa-search"></i></span>
                          <input class="input-group-field" type="search">
                        </div>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot active_dot"></div> Grocery</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Household Products</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Health & Wellness</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Beauty & Personal Care</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Baby</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Pet Supplies</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Electronics</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div>Office Products</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Tools & Hardware</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Business Essentials</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Best Sellers</a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </div>


              <div class="Filter_drop_down">
                <ul class="nav">
                  <li class="button-dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle">
                                Prices <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                              </a>
                    <ul class="dropdown-menu max_height">
                      <li>
                        <a href="#">
                          <div class="dot active_dot"></div> $0-25 <span>(240)</span></a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div>$25-50 <span>(24)</span></a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> $50-100 <span>(40)</span></a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> $100-200 <span>(23)</span></a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> $200 and Above <span>(50)</span></a>
                      </li>
                      <li class="price_search_drop">
                        <div class="hulf_search_price">
                          <span>$</span> <input type="text">
                        </div>
                        <div class="hulf_search_price">
                          <span>$</span> <input type="text">
                        </div>
                        <div class="hulf_search_price">
                          <p class="go_link">go</p>
                        </div>
                      </li>

                    </ul>
                  </li>
                </ul>
              </div>


              <div class="Filter_drop_down">
                <ul class="nav">
                  <li class="button-dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle">
                                Refine By Type <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                              </a>
                    <ul class="dropdown-menu max_height">
                      <li>
                        <a href="#">
                          <div class="dot active_dot"></div> Grocery</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Household Products</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Health & Wellness</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Beauty & Personal Care</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Baby</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Pet Supplies</a>
                      </li>


                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <div class="single_fliter width_two">
              <p>Sort by:</p>
              <div class="Filter_drop_down">
                <ul class="nav">
                  <li class="button-dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle">
                               Relevance <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                              </a>
                    <ul class="dropdown-menu max_height">
                      <li>
                        <a href="#">
                          <div class="dot active_dot"></div> Relevance</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> Price Low to High</a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="dot"></div> price high to Low</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>


            <div class="single_fliter width_five">
              <div class="new_deal">
                <ul class="dropdown menu" data-dropdown-menu>
                  <li>
                    <a href="#">NEW DEAL</a>
                    <ul class="menu no-bullet">
                      <li><a href="<%= existing_products_path %>">Existing Product</a></li>
                      <li><a href="<%= new_product_path %>">New Product</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row expanded">
    <div class="columns table item-table">
      <table class="stack">
        <thead>
          <tr>
            <td>PRODUCTS</td>
            <td>STANDARD PRICE</td>
            <td>DISCOUNT TYPE</td>
            <td>QUANTITY</td>
            <td>DISCOUNT AMOUNT</td>
            <td>DISCOUNT PRICE</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag 'shoe.jpg' %> Grocery</td>
            <td>180</td>
            <td>Dollar Amount</td>
            <td>10 - 30 boxes</td>
            <td>$30</td>
            <td>150</td>
          </tr>
          <tr>
            <td><%= image_tag 'shoe.jpg' %> Beauty & Apparel</td>
            <td>180</td>
            <td>Dollar Amount</td>
            <td>10 - 30 boxes</td>
            <td>$30</td>
            <td>150</td>
          </tr>
          <tr>
            <td><%= image_tag 'shoe.jpg' %> Baby</td>
            <td>180</td>
            <td>Dollar Amount</td>
            <td>10 - 30 boxes</td>
            <td>$30</td>
            <td>150</td>
          </tr>
          <tr>
            <td><%= image_tag 'shoe.jpg' %> Business Essentials</td>
            <td>180</td>
            <td>Dollar Amount</td>
            <td>10 - 30 boxes</td>
            <td>$30</td>
            <td>150</td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<%= render 'home/modal_seller_disc' %>