<div class="main_product_area">
  <div class="row">
    <div class="columns medium-12 large-12 small-12">
      <div class="breadcom">
        <p>Home &nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i> &nbsp; Jet Wholesale&nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i>  &nbsp; Wholesale Grocery&nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <span class="last_breadcom">Wholesale Beverages</span></p>
        <h3>Wholesale Beverages </h3>
      </div>
    </div>
  </div>

  <div class="row category_filter">
    <div class="border_bottom small-12 large-12 medium-12 columns" id="sticker">
      <div class="border_bottom_p">
        <div class="single_fliter width_one">
          <p>Filter by:</p>
          <%= render "home/filter_by" %>
        </div>

        <div class="single_fliter width_two">
          <p>Sort by:</p>
          <%= render "home/sort_by" %>
        </div>

        <div class="single_fliter width_five">
          <div class="new_deal">
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#" >NEW DEAL</a>
                <ul class="menu no-bullet">
                  <li><a href="<%= existing_products_path %>">Existing Product</a></li>
                  <li><a href="<%= new_product_path %>">New Product</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>         
    </div>
  </div>
  <div class="row product_margin_top">
    <%= render 'products/deal_product', num_items: 8 %>
  </div>
</div><!-- Tab End -->

</div>
