<div class="sign_in_page_area">
  <div class="row">
    <div class="small-8 large-7 medium-7 columns medium-offset-3 large-offset-2">
      <div class="page_title">
        <h3>Sign In or <%= link_to 'Sign Up', new_user_registration_path %></h3>
      </div>
      <div class="row">
        <div class='large-12 medium-12 columns'>
          <% if flash[:alert] %>
            <div class='callout alert'>
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="sign_form">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="single_form">
                <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="single_form">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
                <i class="fa fa-key"></i>
              </div>
              <div class="single_form mar_b_s">
                <a href="<%= new_user_password_path %>">Forgot your password? </a>
              </div>
              <div class="single_form">
                <%= f.check_box :remember_me %><%= f.label :remember_me, 'Keep me Signed In' %>
              </div>
              <div class="single_form">
                <%= f.submit "Sign In", class: 'button signup-btn' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="others_sign">
            <div class="single_form_S">
              <div data-omniauth-href="<%= user_facebook_omniauth_authorize_path %>" class="facebook-login-button">
                <i class="fa fa-facebook"></i><span>Sign In with Facebook</span>
              </div>
            </div>
            <div class="single_form_S">
              <div data-omniauth-href="<%= user_google_oauth2_omniauth_authorize_path %>" class="twitter-login-button">
                <i class="fa fa-google-plus"></i><span>Sign In with Google</span>
              </div>
            </div>
            <div class="single_form_S">
              <input id="checkbox3" type="checkbox"><label for="checkbox3">Keep me Signed In</label>
            </div>
            <div class="single_form_S">
              <p>Need A  YOVA Account? <%= link_to 'Sign Up', new_user_registration_path %></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
