<%= title 'YOVA | EXPLORE' %>
<div class="main_product_area">
  <div class="row">
    <div class="columns medium-12 large-12 small-12">
      <div class="breadcom">
        <%= breadcrumbs %>
      </div>
    </div>
  </div>

  <div class="row category_filter">
    <div class="border_bottom small-12 large-12 medium-12 columns" id="sticker">
      <div class="border_bottom_p">
        <div class="single_fliter width_one">
          <p>Filter by:</p>
          <%= render "shared/filter/filter_by" %>
        </div>

        <div class="single_fliter width_two">
          <p>Sort by:</p>
          <%= render "shared/filter/sort_by" %>
        </div>

        <div class="single_fliter width_five">
          <%= render "shared/filter/new_request" %>
        </div>

      </div>         
    </div>
  </div>

  <div class="row product_margin_top Explore">

    <%= render "products/explore_product", products: @products %>

  </div>

</div><!-- Explore page end -->

<%= render 'shared/modal/assign_discount_by_product' %>
