<div class="reveal discounts_popup" id="product_pop_dic_sell" data-reveal>
  <h3>Assign Discounts by Product</h3>
  <%= deals_path(@deal) %>
  <p>Please select a Product to start assigning  discounts</p>

  <%= form_tag search_products_path, remote: true do %>
    <div class="search_pro">
      <span class="fa fa-search"></span>
      <%= text_field_tag 'keyword', params[:keyword], placeholder: 'Search term', id: 'product_search_keyword' %>
      <%= hidden_field_tag :sub_category_id, 'sub_category_id' %>
    </div>
  <% end %>

  <%= form_for @deal, remote: true, html: { class: 'input-deals-url', id: 'create_new_deal' } do |f| %>

    <div class="select_pro_pop " id="edit-item">
      <%= render 'shared/modal/product_list', products: @products %>
    </div>
    <br/>
    
    <p>Create tiered discount for the  select product</p>
    <div class="select_pro_pop_details">
      <div class="single_row single_row_height">
        <table class="unstriped" id="mytable">
          <thead>
            <tr>
              <th>Quantity</th>
              <th colspan="2">
                <div class="switch-toggle switch-ios">
                  <input id="dollar-amount" name="view" type="radio" checked value="dollar">
                  <label for="dollar-amount" onclick="">Dollar Amount</label>
                  <input id="percentage" name="view" type="radio" value="percentage">
                  <label for="percentage" onclick="">Percentage</label>
                  <a class="button"></a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="flex_t">
                  <label>&nbsp; 1 &nbsp;&nbsp; to &nbsp;&nbsp;</label>
                  <input type="text" value="5">
                </div>
              </td>
              <th> &nbsp;</th>
              <td>
                <div class="usd_box">
                  <p>USD</p>
                  <input type="text" value="9">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="flex_t">
                  <label>&nbsp; 6 &nbsp;&nbsp; to &nbsp;&nbsp;</label>
                  <input type="text" value="8">
                </div>
              </td>
              <td>
                <label>
                  <input type="checkbox" >
                  Maximun tier
                </label>
              </td>
              <td>
                <div class="usd_box">
                  <p>USD</p>
                  <input type="text" value="8">
                  <div class="close_btn"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
              </td>                  
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="Modal_footer">
      <a href="javascript:void(0)" id="add_tier">+ Add Tier</a>
      <%= f.submit 'NEXT', class: 'button pop_up_btn' %>
    </div>
    <div class="error-wrapper"></div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>