<%= title 'Account - Payments' %>
<section class="main-section mar_top_d2">
  <div class="row expanded">
    <div class="columns medium-12">
      <div class="head_search" id="sticker-3">
        <div class="search">
          <i class="fa fa-search"></i>
          <input placeholder="Search deals" type="search" name="search">
        </div>
        <div class="select_pro_pop " id="edit-item">
          <ul class="no-bullet items">
            <li>
              <div class="iradio_minimal" style="position: relative;">
                <input name="shoe" style="position: absolute; opacity: 0;" type="radio">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;">

                </ins>
              </div>
              <%= image_tag 'shoe.jpg' %> Nike Sport Shoes Fingertap Max <span class="price">USD 140 /box</span>
            </li>
            <li>
              <div class="iradio_minimal" style="position: relative;">
                <input name="shoe" style="position: absolute; opacity: 0;" type="radio">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;">

                </ins>
              </div>
              <%= image_tag 'shoe.jpg' %> Nike Sport Shoes Fingertap Max <span class="price">USD 140 /box</span>
            </li>
            <li>
              <div class="iradio_minimal" style="position: relative;">
                <input name="shoe" style="position: absolute; opacity: 0;" type="radio">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;">

                </ins>
              </div>
              <%= image_tag 'shoe.jpg' %> Nike Sport Shoes Fingertap Max <span class="price">USD 140 /box</span>
            </li>
            <li>
              <div class="iradio_minimal" style="position: relative;">
                <input name="shoe" style="position: absolute; opacity: 0;" type="radio">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;">

                </ins>
              </div>
              <%= image_tag 'shoe.jpg' %> Nike Sport Shoes Fingertap Max <span class="price">USD 140 /box</span>
            </li>
            <li>
              <div class="iradio_minimal" style="position: relative;">
                <input name="shoe" style="position: absolute; opacity: 0;" type="radio">
                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;">

                </ins>
              </div>
              <%= image_tag 'shoe.jpg' %> Nike Sport Shoes Fingertap Max <span class="price">USD 140 /box</span>
            </li>

          </ul>
        </div>
        <br/>
      </div>
    </div>
    <div class="columns table payment-table">
      <table>
        <thead>
          <tr>
            <td>PAYMENT ID</td>
            <td>AMOUNT</td>
            <td>FROM</td>
            <td>ITEMS INFO</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><span class="icon-collect-fund"></span> <button type="button" class="button collect">Collect Fund</button></td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><span class="icon-received"></span> <strong>Money Received</strong></td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><span class="icon-transit"></span> <strong>Money In Transit</strong></td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><span class="icon-not-received"></span> <strong>Money Not Received</strong></td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><strong>Received after tax 10%</strong> : US$ 180,000
              <button class="details" type="button"><span>(detail)</span>
                  <div class="dropdown">
                      <ul class="no-bullet">
                        <li><span>Original Amount</span><span>:</span><span>US$ 198,000</span></li>
                        <li><span>Tax</span><span>:</span><span>10%</span></li>
                        <li><span>You receive</span><span>:</span><span>US$ 180,000</span></li>
                      </ul>
                  </div>
              </button>
            </td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><span class="icon-collect-fund"></span> <button type="button" class="button collect">Collect Fund</button></td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><span class="icon-received"></span> <strong>Money Received</strong></td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><span class="icon-transit"></span> <strong>Money In Transit</strong></td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><span class="icon-not-received"></span> <strong>Money Not Received</strong></td>
          </tr>
          <tr>
            <td>#093489348394</td>
            <td>USD 180,000</td>
            <td>Sport Station - Samantha William</td>
            <td><%= image_tag 'shoe.jpg' %> 30 boxes of brown shoes</td>
            <td><strong>Received after tax 10%</strong> : US$ 180,000
              <button class="details" type="button"><span>(detail)</span>
	              <div class="dropdown">
	                <ul class="no-bullet">
	                  <li><span>Original Amount</span><span>:</span><span>US$ 198,000</span></li>
	                  <li><span>Tax</span><span>:</span><span>10%</span></li>
	                  <li><span>You receive</span><span>:</span><span>US$ 180,000</span></li>
	                </ul>
	              </div>
	            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>