<div class="Products_details_header">
  <div class="row">
    <div class="columns small-12">
      <a href="<%= deals_path %>" class="back_link"><i class="fa fa-angle-double-left" aria-hidden="true"></i> All Deals</a>
      <div class="wideget_list">
        <div class="filter_list">
          <div class="details_title">
            <h2>Spier & Mackay Polo Shirts</h2>
            <a href="#" class="name">by Nike</a>
          </div>
          <a href="#">Men's Apparel</a>
          <a href="#">T-Shirt</a>
          <a href="#"><i class="fa fa-star" ></i> Save</a>
        </div>
        <div class="right_head_details">
          <div class="socail_icon">
            <p>SHARE THIS REQUEST</p>
            <ul>
              <li><a href="#"><i class="fa fa-tags" ></i></a></li>
              <li><a href="#"><i class="fa fa-link"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-reddit-alien"></i></a></li>
            </ul>
          </div>
          <div class="right_head_btns">
            <button class="button" data-open="product_pop_dic">SELL</button>
            <button class="button" data-open="product_pop_dic_sell">Edit </button>
            <button class="button">cancel </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main_pro_details">

  <div class="row">
    <div class="columns small-9 large-9 medium-9">
      <div class="main_desctibetion">
        <div class="big_img_pre">
          <div class="row">
            <div class="columns">
              <div class="tabs-content imageGallery1" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                  <a  href="<%= image_path('t-shirt.jpg') %>" ><img  src="<%= image_path('t-shirt.jpg') %>" alt="t-shirt"></a>
                </div>
                <div class="tabs-panel" id="panel2">
                  <a href="<%= image_path('img-2.jpg') %>" ><img  src="<%= image_path('img-2.jpg') %>" alt="t-shirt"></a>
                </div>
                <div class="tabs-panel" id="panel3">
                  <a  href="<%= image_path('t-shirt.jpg') %>" ><img  src="<%= image_path('t-shirt.jpg') %>" alt="t-shirt"></a>
                </div>
                <div class="tabs-panel" id="panel4">
                  <a  href="<%= image_path('img-2.jpg') %>" ><img  src="<%= image_path('img-2.jpg') %>" alt="t-shirt"></a>
                </div>
                <div class="tabs-panel" id="panel5">
                  <a  href="<%= image_path('t-shirt.jpg') %>" ><img  src="<%= image_path('t-shirt.jpg') %>" alt="t-shirt"></a>
                </div>
                <div class="tabs-panel" id="panel6">
                  <a  href="<%= image_path('img-2.jpg') %>" ><img  src="<%= image_path('img-2.jpg') %>" alt="t-shirt"></a>
                </div>
              </div>

              <ul class="tabs" data-tabs id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><img src="<%= image_path('small-pre/1.jpg') %>" alt="t-shirt"></a></a></li>
                <li class="tabs-title"><a href="#panel2"><img src="<%= image_path('small-pre/2.jpg') %>" alt="t-shirt"></a></li>
                <li class="tabs-title"><a href="#panel3"><img src="<%= image_path('small-pre/1.jpg') %>" alt="t-shirt"></a></li>
                <li class="tabs-title"><a href="#panel4"><img src="<%= image_path('small-pre/2.jpg') %>" alt="t-shirt"></a></li>
                <li class="tabs-title"><a href="#panel5"><img src="<%= image_path('small-pre/1.jpg') %>" alt="t-shirt"></a></li>
                <li class="tabs-title"><a href="#panel6"><img src="<%= image_path('small-pre/2.jpg') %>" alt="t-shirt"></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="filter_del_locker">
          <div class="owl-carousel owl-theme" id="buyer_table">
            <div class="items items_active">
              <p><span class="ser_num">Buy 1-15</span> <br/><span class="co_class">$43.20</span>/ea</p>
            </div>
            <div class="items">
              <p><span class="ser_num">Buy 16 – 20</span> <br/><span class="co_class">$43.20</span>/ea</p>
            </div>
            <div class="items">
              <p><span class="ser_num">Buy 21 - 35</span> <br/><span class="co_class">$43.20</span>/ea</p>
            </div>

            <div class="items">
              <p><span class="ser_num">Buy 36 – 45</span> <br/><span class="co_class">$43.20</span>/ea</p>
            </div>

            <div class="items">
              <p><span class="ser_num">Buy 46 – 55</span> <br/><span class="co_class">$43.20</span>/ea</p>
            </div>
            <div class="items">
              <p><span class="ser_num">Buy 1-15</span> <br/><span class="co_class">$43.20</span>/ea</p>
            </div>

          </div>
        </div>



        <div class="text_details">
          <h3>The Power of Snail Extract</h3>

          <p>From Korean skincare company Mizon, these products are cult favorites for good reason. The All-in-One Snail Repair
            Cream does it all—from fading hyperpigmentation and acne scarring, to minimizing pores and blackheads, to fighting
            fine lines and other signs of aging. It’s formulated with 92-percent snail filtrate, different plant extracts,
            and a number of antioxidant-rich ingredients.</p>

          <p>Apply it as the final step of your skincare routine in the morning, at night, or both. Made with 74-percent snail
            extra, the Snail Recovery Gel Cream’s lightweight formula provides serious hydration without leaving behind a
            greasy sheen. Apply it over your face and neck as part of your daily routine, double up and use it as a sleeping
            mask, or dab on a small amount wherever you need to soothe inflammation.</p>



          <h3>About Mizon</h3>

          <p>At Mizon, Korea’s leading beauty researchers and scientists come together to make incredible products accessible
            to everyone. Each product features generous portions of the best, most highly regarded active ingredients to
            make sure your skin gets the maximum benefits.</p>

          <h3>Included</h3>

          <ul>
            <li>All-in-One Snail Repair Cream (75ml pot)</li>
            <li>All-in-One Mizon Snail Recovery Gel Cream (45ml tube)</li>
          </ul>

          <h3>Ingredients</h3>

          <p>Mizon All-in-One Snail Repair Cream: Snail Secretion Filtrate, Cetearyl Olivate, Sorbitan Olivate, Cetearyl Alcohol,
            Stearic Acid, Glyceryl Stearate, Hydrogenate Vegetable Oil, Dimethicone, Triethanolamine, Carbomer, Butylene
            Glycol, PED/PPG-17/6 Copolymer, Polyacrylate-13, Polyisobutene, Polysorbate 20, Sodium Polyacrylate, Caprylyl
            Glycol, Ethylhexylglycerin, Tropolone, Adenosine, Sodium Hyaluronate, Portulaca Oleracea Extract, Betula Platyphylla
            Japonica Juice, Amica Montana Flower Extract, Artemisia Absinthium Extract, Achillea Millefolium Extract, Gentiana
            Lutea Root Extract, Alcohol, Camellia Sinensis Leaf Extract, Centella Asiatica Extract, Copper Tripeptide-1,
            Human Oligopeptide-1, Propylene Glycol, Rubus Idaeus (Rasberry) Fruit Extract, Beta-Glucan, Palmitoyl Pentapeptide-4,
            Disodium EDTA</p>

          <p>Mizon Snail Recovery Gel Cream: Snail Secretion Filtrate, Butylene Glycol, Cyclopentasiloxane, Glycerin, Bis-Peg-18
            Methyl Ether Dimethyl Silane, Polysorbate 20, Sodium Hyaluronate, Carbomer, Glycosyl Trehalose, Hydrogenated
            Starch Hydrolysate, Triethanolamine, Dimethicone/Vinyl Dimethicone Crosspolymer, Dimethicone, Hydroxyethylcellulose,
            Caprylyl Glycol, Ethylhexylglycerin, Sodium Polyacrylate, Centella Asiatica Extract, Portulaca Oleracea Extract,
            Camellias Sinensis Leaf Extract, Nelumbo Nucifera Flower Extract, Betula Platylphylla Japonica Juice, Tropolone,
            Copper Tripeptide-1, Allantoin, Panthenol, Olea Europaea (Olive) Fruit Oil, Helianthus Annuus (Sunflower) Seed
            Oil, Palmitoyl Pentapeptide-4, Adenosine, Disodium EDTA</p>

          <h3>Shipping</h3>
          <p>All orders will be shipped by Massdrop.</p>

          <p>Estimated ship date is Aug 7, 2017 PT.</p>

          <p>After the drop ends, payment will be collected. To deliver the best value to the group the request will then be
            submitted to the vendor up front, making all sales final. Be sure to check the discussion page for updates.</p>
        </div>
      </div>


    </div>

    <div class="columns small-3 large-3 medium-3">
      <div class="side_bar">
        <div class="price_section">
          <div class="discount_price">
            <h3>$17.99 <span>2% OFF</span></h3>
            <p>Standard Price:
              <del>$19.99</del>
            </p>
          </div>
          <div class="offer_left">
            <p>Units Aggregated :<span> 300</span> </p>
            <p>Requests: <span>50</span></p>
          </div>


          <div class="time_left">
            <div class="pro_timmer no-padding">
              <div class="time">
                <div class="time-box">
                  <span><em>01</em>days</span>
                  <span><em>00</em>hours</span>
                  <span><em>12</em>min</span>
                  <span><em>52</em>sec</span>
                </div>
              </div>
            </div>
          </div>

          <a class="join_btn" href="#">COMMIT &nbsp;&nbsp;
              <i class="fa fa-info-circle has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="From Korean skincare company Mizon, these products are cult"></i>
              </a>

        </div>
      </div>
    </div>
  </div>




  <div class="row product_margin_top color_a">
    <div class="columns medium-12">
      <div class="other_title">
        <h3> Other Deals</h3>
      </div>
    </div>
    <%= render 'products/deal_product', num_items: 4 %>
  </div>



  <div class="row">
    <div class="more_deals">
      <a href="<%= deals_path %>">See All Deals</a>
    </div>
  </div>
</div>
<%= render "home/modal_discount" %>
<%= render "home/modal_seller_disc" %>
<%= render "home/modal_seller_period" %>