<%= title 'Account | Assign Discounts' %>
<div class="main_product_area">

  <div class="discount_asign_page">
    <div class="product_discount_title">
      <h3>Assing the Discounts</h3>
      <p>Assign discounts to products or category</p>
    </div>
    <div class="product_discount" data-open="product_pop_dic_sell">
      <%= image_tag 'discount-pro.png', alt: 'discount-pro' %>
      <h3> Products Discount</h3>
    </div>
    <div class="product_discount" data-open="product_pop_dic_category">
      <%= image_tag 'discount-ca.png', alt: 'discount-ca' %>
      <h3> Products Category Discount</h3>
    </div>
  </div>

  <%= render 'shared/modal/assign_discount_by_product' %>
  <%= render 'shared/modal/assign_discount_by_product_category' %>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>