= title 'YOVA | Explore'

.Products_details_header
  .row
    .columns.small-12
      = link_to explores_path, class: 'back_link' do
        %i.fa.fa-angle-double-left{"aria-hidden" => "true"}
        All Explore
      .wideget_list
        .filter_list
          .details_title
            %h2 Spier  Mackay Polo Shirts
            %a.name{:href => "#"} by Nike
          %a{:href => "#"} Men's Apparel
          %a{:href => "#"} T-Shirt
          %a{:href => "#"}
            %i.fa.fa-star
            Save
        .right_head_details
          .socail_icon
            %p SHARE THIS REQUEST
            %ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-tags
              %li
                %a{:href => "#"}
                  %i.fa.fa-link
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-reddit-alien
          .right_head_btns
            %button.button{"data-open" => "product_pop_dic_sell"} SELL
            %button.button{"data-open" => "product_pop_dic"} Edit
            %button.button cancel

.main_pro_details

  .row
    .columns.small-9.large-9.medium-9
      .main_desctibetion
        .big_img_pre
          .row
            .columns
              .tabs-content.imageGallery1{"data-tabs-content" => "example-tabs"}
                #panel1.tabs-panel.is-active
                  %a{:href => "#{image_path('t-shirt.jpg')}"}
                    %img{:alt => "t-shirt", :src => "#{image_path('t-shirt.jpg')}"}/
                #panel2.tabs-panel
                  %a{:href => "#{image_path('img-2.jpg')}"}
                    %img{:alt => "t-shirt", :src => "#{image_path('img-2.jpg')}"}/
                #panel3.tabs-panel
                  %a{:href => "#{image_path('t-shirt.jpg')}"}
                    %img{:alt => "t-shirt", :src => "#{image_path('t-shirt.jpg')}"}/
                #panel4.tabs-panel
                  %a{:href => "#{image_path('img-2.jpg')}"}
                    %img{:alt => "t-shirt", :src => "#{image_path('img-2.jpg')}"}/
                #panel5.tabs-panel
                  %a{:href => "#{image_path('t-shirt.jpg')}"}
                    %img{:alt => "t-shirt", :src => "#{image_path('t-shirt.jpg')}"}/
                #panel6.tabs-panel
                  %a{:href => "#{image_path('img-2.jpg')}"}
                    %img{:alt => "t-shirt", :src => "#{image_path('img-2.jpg')}"}/
              %ul#example-tabs.tabs{"data-tabs" => ""}
                %li.tabs-title.is-active
                  %a{"aria-selected" => "true", :href => "#panel1"}
                    %img{:alt => "t-shirt", :src => "#{image_path('small-pre/1.jpg')}"}/
                %li.tabs-title
                  %a{:href => "#panel2"}
                    %img{:alt => "t-shirt", :src => "#{image_path('small-pre/2.jpg')}"}/
                %li.tabs-title
                  %a{:href => "#panel3"}
                    %img{:alt => "t-shirt", :src => "#{image_path('small-pre/1.jpg')}"}/
                %li.tabs-title
                  %a{:href => "#panel4"}
                    %img{:alt => "t-shirt", :src => "#{image_path('small-pre/2.jpg')}"}/
                %li.tabs-title
                  %a{:href => "#panel5"}
                    %img{:alt => "t-shirt", :src => "#{image_path('small-pre/1.jpg')}"}/
                %li.tabs-title
                  %a{:href => "#panel6"}
                    %img{:alt => "t-shirt", :src => "#{image_path('small-pre/2.jpg')}"}/
        .text_details
          %h3 The Power of Snail Extract
          %p From Korean skincare company Mizon, these products are cult favorites for good reason. The All-in-One Snail Repair Cream does it all—from fading hyperpigmentation and acne scarring, to minimizing pores and blackheads, to fighting fine lines and other signs of aging. It’s formulated with 92-percent snail filtrate, different plant extracts, and a number of antioxidant-rich ingredients.
          %p Apply it as the final step of your skincare routine in the morning, at night, or both. Made with 74-percent snail extra, the Snail Recovery Gel Cream’s lightweight formula provides serious hydration without leaving behind a greasy sheen. Apply it over your face and neck as part of your daily routine, double up and use it as a sleeping mask, or dab on a small amount wherever you need to soothe inflammation.
          %h3 About Mizon
          %p At Mizon, Korea’s leading beauty researchers and scientists come together to make incredible products accessible to everyone. Each product features generous portions of the best, most highly regarded active ingredients to make sure your skin gets the maximum benefits.
          %h3 Included
          %ul
            %li All-in-One Snail Repair Cream (75ml pot)
            %li All-in-One Mizon Snail Recovery Gel Cream (45ml tube)
          %h3 Ingredients
          %p Mizon All-in-One Snail Repair Cream: Snail Secretion Filtrate, Cetearyl Olivate, Sorbitan Olivate, Cetearyl Alcohol, Stearic Acid, Glyceryl Stearate, Hydrogenate Vegetable Oil, Dimethicone, Triethanolamine, Carbomer, Butylene Glycol, PED/PPG-17/6 Copolymer, Polyacrylate-13, Polyisobutene, Polysorbate 20, Sodium Polyacrylate, Caprylyl Glycol, Ethylhexylglycerin, Tropolone, Adenosine, Sodium Hyaluronate, Portulaca Oleracea Extract, Betula Platyphylla Japonica Juice, Amica Montana Flower Extract, Artemisia Absinthium Extract, Achillea Millefolium Extract, Gentiana Lutea Root Extract, Alcohol, Camellia Sinensis Leaf Extract, Centella Asiatica Extract, Copper Tripeptide-1, Human Oligopeptide-1, Propylene Glycol, Rubus Idaeus (Rasberry) Fruit Extract, Beta-Glucan, Palmitoyl Pentapeptide-4, Disodium EDTA
          %p Mizon Snail Recovery Gel Cream: Snail Secretion Filtrate, Butylene Glycol, Cyclopentasiloxane, Glycerin, Bis-Peg-18 Methyl Ether Dimethyl Silane, Polysorbate 20, Sodium Hyaluronate, Carbomer, Glycosyl Trehalose, Hydrogenated Starch Hydrolysate, Triethanolamine, Dimethicone/Vinyl Dimethicone Crosspolymer, Dimethicone, Hydroxyethylcellulose, Caprylyl Glycol, Ethylhexylglycerin, Sodium Polyacrylate, Centella Asiatica Extract, Portulaca Oleracea Extract, Camellias Sinensis Leaf Extract, Nelumbo Nucifera Flower Extract, Betula Platylphylla Japonica Juice, Tropolone, Copper Tripeptide-1, Allantoin, Panthenol, Olea Europaea (Olive) Fruit Oil, Helianthus Annuus (Sunflower) Seed Oil, Palmitoyl Pentapeptide-4, Adenosine, Disodium EDTA
          %h3 Shipping
          %p All orders will be shipped by Massdrop.
          %p Estimated ship date is Aug 7, 2017 PT.
          %p After the drop ends, payment will be collected. To deliver the best value to the group the request will then be submitted to the vendor up front, making all sales final. Be sure to check the discussion page for updates.
    .columns.small-3.large-3.medium-3
      #product-sidebar.side_bar
        .price_section
          .discount_price
            %h3
              $17.99
              %span 2% OFF
            %p
              Standard Price:
              %del $19.99
          .offer_left
            %p
              Units Aggregated :
              %span 300
            %p
              Requests:
              %span 50
          %br/
          .sub_btn
            %label QTY
            %select
              %option 1
              %option 2
              %option 3
              %option 4
              %option 5
            %a.join_btn{"data-open" => "product_pop_dic", :href => "javascript:void(0)"}
              REQUEST   
              %i.fa.fa-info-circle.has-tip.top{"aria-haspopup" => "true", "data-disable-hover" => "false", "data-tooltip" => "", :tabindex => "2", :title => "From Korean skincare company Mizon, these products are cult"}
  

  .row.Explore
    .columns.medium-12
      .other_title
        %h3 Other requests
    .medium-3.columns
      %a{:href => "explore-details.html"}
        .single_products
          .Products_img
            = image_tag 'shoe-big.jpg', alt: 'shoe-big'
          .product_price
            %p 78% OFF
          .Products_title
            %h3
              Nike Sport Shoes Fingertap Max
              %br/
              %a.name{:href => "#"} by Harun
            .sub_fil
              .category_name_filter
                %span.category_name
                  %a{:href => "#"} shoes
                %span.category_name
                  %a{:href => "#"} Boxes
                %span.category_name
                  %a{:href => "#"} Hopkins
                %span.category_name
                  %a{:href => "#"} MN
                %span.category_name
                  %a{:href => "#"}
                    %i.fa.fa-link
            .commit_area
              .commit_count
                %p
                  %span.commit_num 30
                  interests
                %p
                  %span.commit_num 300
                  Units
              .Request_btn
                %button.commits_btn{"data-open" => "product_pop_dic", :type => "button"} REQUEST
                %button.commits_btn{"data-open" => "product_pop_dic_sell", :type => "button"} SELL
          .pro_timmer.no-padding-2
            %h3.std_price
              %span $180.56
              Standard Price
            .midle_bar
            %h3
              %span $150.56
              Requested Price
    .medium-3.columns
      %a{:href => "explore-details.html"}
        .single_products
          .Products_img
            = image_tag 'shoe-big.jpg', alt: 'shoe-big'
          .product_price
            %p 78% OFF
          .Products_title
            %h3
              Nike Sport Shoes Fingertap Max
              %br/
              %a.name{:href => "#"} by Harun
            .sub_fil
              .category_name_filter
                %span.category_name
                  %a{:href => "#"} shoes
                %span.category_name
                  %a{:href => "#"} Boxes
                %span.category_name
                  %a{:href => "#"} Hopkins
                %span.category_name
                  %a{:href => "#"} MN
                %span.category_name
                  %a{:href => "#"}
                    %i.fa.fa-link
            .commit_area
              .commit_count
                %p
                  %span.commit_num 30
                  interests
                %p
                  %span.commit_num 300
                  Units
              .Request_btn
                %button.commits_btn{"data-open" => "product_pop_dic", :type => "button"} REQUEST
                %button.commits_btn{"data-open" => "product_pop_dic_sell", :type => "button"} SELL
          .pro_timmer.no-padding-2
            %h3.std_price
              %span $180.56
              Standard Price
            .midle_bar
            %h3
              %span $150.56
              Requested Price
    .medium-3.columns
      %a{:href => "explore-details.html"}
        .single_products
          .Products_img
            = image_tag 'shoe-big.jpg', alt: 'shoe-big'
          .product_price
            %p 78% OFF
          .Products_title
            %h3
              Nike Sport Shoes Fingertap Max
              %br/
              %a.name{:href => "#"} by Harun
            .sub_fil
              .category_name_filter
                %span.category_name
                  %a{:href => "#"} shoes
                %span.category_name
                  %a{:href => "#"} Boxes
                %span.category_name
                  %a{:href => "#"} Hopkins
                %span.category_name
                  %a{:href => "#"} MN
                %span.category_name
                  %a{:href => "#"}
                    %i.fa.fa-link
            .commit_area
              .commit_count
                %p
                  %span.commit_num 30
                  interests
                %p
                  %span.commit_num 300
                  Units
              .Request_btn
                %button.commits_btn{"data-open" => "product_pop_dic", :type => "button"} REQUEST
                %button.commits_btn{"data-open" => "product_pop_dic_sell", :type => "button"} SELL
          .pro_timmer.no-padding-2
            %h3.std_price
              %span $180.56
              Standard Price
            .midle_bar
            %h3
              %span $150.56
              Requested Price
    .medium-3.columns
      %a{:href => "explore-details.html"}
        .single_products
          .Products_img
            = image_tag 'shoe-big.jpg', alt: 'shoe-big'
          .product_price
            %p 78% OFF
          .Products_title
            %h3
              Nike Sport Shoes Fingertap Max
              %br/
              %a.name{:href => "#"} by Harun
            .sub_fil
              .category_name_filter
                %span.category_name
                  %a{:href => "#"} shoes
                %span.category_name
                  %a{:href => "#"} Boxes
                %span.category_name
                  %a{:href => "#"} Hopkins
                %span.category_name
                  %a{:href => "#"} MN
                %span.category_name
                  %a{:href => "#"}
                    %i.fa.fa-link
            .commit_area
              .commit_count
                %p
                  %span.commit_num 30
                  interests
                %p
                  %span.commit_num 300
                  Units
              .Request_btn
                %button.commits_btn{"data-open" => "product_pop_dic", :type => "button"} REQUEST
                %button.commits_btn{"data-open" => "product_pop_dic_sell", :type => "button"} SELL
          .pro_timmer.no-padding-2
            %h3.std_price
              %span $180.56
              Standard Price
            .midle_bar
            %h3
              %span $150.56
              Requested Price
              
  .row
    .more_deals
      = link_to 'See All Request', explores_path
    
= render 'shared/modal/assign_discount_by_product'